<html>
    <head>
        
    </head>
    <body >
<form style="width:800px;height:800px;margin-left:400px;margin-top:100px;"><h1>FORM</h1> 
<h2>Name:
<input type="text">

<br><br>
Gender:Male
<input type="radio" name ="hh">       Female:
<input type="radio" name ="hh"><br>M<br>
Age (must be between 50 and 100):

<input type="number" max="100" min ="50">
<br><br>
email:<br><input type="email">
<input type="submit">
</form>
        </h2>
    </body>
</html>